@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bfdbfe; /* blue-200 */
  border-radius: 9999px; /* rounded-full */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #60a5fa; /* blue-400 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bfdbfe transparent;
}